spring:
  application:
    name: document
  profiles:
    active: dev
  config:
    import:
      - 'classpath:/yml/logging/application-logging.yml'
  thymeleaf:
    prefix: classpath:/templates/
    cache: false
  datasource:
    hikari:
      maximum-pool-size: 20
      max-lifetime: 1800000       # 30분
      keepalive-time: 300000      # 5분마다 유휴 커넥션 깨우기
      validation-timeout: 5000    # 5초 내에 커넥션 확인 안 되면 실패
  servlet:
    multipart:
      max-file-size: 50MB       # 단일 파일 최대 크기
      max-request-size: 100MB   # 요청 전체 크기 (여러 파일 포함 시)

# MyBatis 설정
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    map-underscore-to-camel-case: true

server:
  error:
    path: /error
    include-exception: true
    include-stacktrace: always
    whitelabel:
      enabled: false
  tomcat:
    threads:
      max: 200
      min-spare: 20
    max-connections: 8192
    accept-count: 100
    connection-timeout: 10000


# TODO : 추후에 api 관련 dev, local로 나누어야함
api:
  url:
    docx: http://210.113.0.140:8123
    docxHost: docuverse_docx
    docxPort: 8123
    ocr: http://210.113.0.140:8124
    ocrHost: docuverseocr_app
    ocrPort: 8001
    hwp: http://210.113.0.140:8129
    hwpHost: docuverse_hwp
    hwpPort: 8129

servers:
  server1: 172.20.10.5
  server2: 172.20.10.10
