@charset "utf-8";

#main-sidebar {
	position: relative;
	width: 0;
	height: 100%;
	background: #f5f5f5;
	overflow: hidden;
	flex-shrink: 0;
	-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
	transition: transform .3s ease-in-out,width .3s ease-in-out;
}

#main-sidebar .sidebar-menu {
	overflow: auto;
	overflow-x: hidden;
	width: 220px;
	height: 100%;
	background-color: #FFF;
	border-top: 1px solid #D5DDE9;
	border-right: 1px solid #D5DDE9;
	border-bottom: 1px solid #D5DDE9;
}

/* 열렸을 때 */
#main-sidebar.open {
	width: 220px;
	transform: translateX(0);
}


#main-sidebar .cont_title {
	overflow: hidden;
	width: 190px;
	height: 58px;
	padding: 10px 0 5px;
	margin: 0 auto;
	border-bottom: 2px solid #D5DDE9;
}


#main-sidebar .cont_title > a {
	display: block;
	width: 90%;
	color: #44546A;
	margin: 0 auto;
}

#main-sidebar .cont_title > a > img {
	width: 20%;
}

#main-sidebar .cont_title > a > p {
	display: inline-block;
}

.cont_title .menu_tit {
	font-family: 'NotoSansKR';
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	/*padding-left: 7px;*/
}

.cont_title .sub_tit {
	display: block;
	font-family: 'NotoSansKR';
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	padding-left: 7px;
}


.sidebar-menu .slide_menu:last-child {
	border-bottom: 0;
	}

.sidebar-menu .slide_menu {
	display: block;
	background-color: #FFF;
	font-weight: 300;
	line-height: 34px;
	text-align: left;
	padding: 0 12px;
	border-left: 1px solid #D5DDE9;
	border-bottom: 1px solid #D5DDE9;
	position: relative;
	cursor: pointer;
}


.sidebar-menu .menu_icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #154f53;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	border-radius: 5px;
}

.sidebar-menu .menu_icon img {
	width: 100%;
	vertical-align: top;
}

.sidebar-menu .menu_tit {
	font-weight: 600;
	font-size: 13px;
	line-height: 32px;
	padding-top: 3px;
}


.sidebar-menu div:nth-child(odd):hover {
	background-color: #ddeae9;
}

.sidebar-menu div.on {
	background-color: #bfd7d9;
}

.tit_LHeight {
	line-height: 36px !important;
}

.treeview-menu {
	display: none;
	overflow: hidden;
	width: 220px;
    height: auto;
	background-color: #EFEFEF;
	padding-left: 34px;
	padding-bottom:	5px;
	border-bottom: 1px solid #D5DDE9;
}

.treeview-menu span {
	font-size: 15px;
	line-height: 18px;
	vertical-align: top;
	padding: 0 3px
}

.treeview-menu > button {
	display: block;
	color: #AAA;
	font-family: 'NotoSansKR';
	font-weight: 600;
    font-size: 13px;
    line-height: 20px;
	padding: 10px 5px 0;
}

.treeview-menu > button:last-child {
	padding-bottom: 10px;
}

.treeview-menu > button:hover {
	color: #555;
}

.treeview-menu > button.on {
	color: #555;
}


.slide_menu .arrow_up {
  display: none;
}

.slide_menu .arrow_down {
  display: block;
}

.slide_menu.on .arrow_down {
  display: none;
}

.slide_menu.on .arrow_up {
  display: block;
}

.siteMapBtn {
	position: fixed;
	top: 75px;
	left: 10px;
	z-index: 200;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #394453;
	border-left: 0;
	border: 1px solid #EEE;
	transition: transform .3s ease-in-out, left .3s ease-in-out;
}

.siteMapBtn.open{
	left: 230px;
}


.siteMapBtn p {
	color: #FFF;
	line-height: 10px;
	padding: 5px 5px 5px 7px;
	cursor: pointer;
}






.PR10 {
	padding-right: 10px;
}











/*arrow*/

.arrow_form {
	position: absolute;
	top:16px;
	right: 30px;
}

.arrow_up {
    position: relative;
}

.arrow_up::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 6px; /* 사이즈 */
    height: 6px; /* 사이즈 */
    border-top: 2px solid #000; /* 선 두께 */
    border-right: 2px solid #000; /* 선 두께 */
    transform: rotate(315deg); /* 각도 */
}

.arrow_down {
    position: relative;
}

.arrow_down::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 6px; /* 사이즈 */
    height: 6px; /* 사이즈 */
    border-top: 2px solid #000; /* 선 두께 */
    border-right: 2px solid #000; /* 선 두께 */
    transform: rotate(135deg); /* 각도 */
}

/* 45deg 는 > 225deg 는 < 135deg 는 ∨ 315deg 는 ∧*/









/*  모바일 메뉴 */

.mo_wrapper{
  display: none;
  width:100%;
}
.container{
  width:100%;
  max-width:800px;
}
.head{
	  width:101%;
	  height:50px;
	  background-color: #394453;
	  position:relative;
}

.logo{
	  width: 100%;
	  text-align:center;
	  font-size:32px;
	  font-style:italic;
	  font-weight:800;
}

.content{
	  height:100%;
	  font-size:30px;
	  display: flex;
	  justify-content:center;
	  align-items:center;
}
.slide-open{
	  position:absolute;
	  top:0;
	  left:0;
	  width:50px;
	  height:50px;
	  cursor:pointer;
}
.burgur{
	right: 15px;
	top: 23px;
	position: absolute;
	width: 20px;
	height: 2px;
	background: #FFF;
}
.burgur .top-line{
	width: 20px;
	height: 2px;
	background-color: #FFF;
	bottom: -5px;
	content: '';
	position: absolute;
	right: 0;
	-webkit-transition:  -webkit-transform .3s;
	transition: transform .3s;

}
.burgur .bot-line {
width: 20px;
height: 2px;
background-color: #FFF;
top: -5px;
content: '';
position: absolute;
right: 0;
-webkit-transition:  -webkit-transform .3s;
transition: transform .3s;
}

.burgur.on {
width: 0;
}
.burgur.on .bot-line {
-webkit-transform: translateY(5px) rotate(135deg);
transform: translateY(5px) rotate(135deg);
}
.burgur.on .top-line{
-webkit-transform: translateY(-5px) rotate(-135deg);
transform: translateY(-5px) rotate(-135deg);
}
.slide{
  width:34%;
  position:absolute;
  left:-100%;
  top:50px;
  right:0;
  bottom:0;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
  background-color:#FFF;
  z-index: 80;
}
.slide-title{
  width:100%;
  height:100px;
  font-size:42px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid #e1e1e1;
}
.slide.on{
  left:0;
  top: 50px;
  width: 80%;
  border-right: 1px solid #DDD;
}
.slide ul li{
  display:inline-block;
  width:100%;
  padding:10px;
  border-bottom:1px solid #e1e1e1;
}


