<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="document.doc.mapper.DocMapper">

    <!-- 전체 사용자 목록 조회 -->
    <select id="getDocList" resultType="document.doc.dto.DocDto">
        SELECT *
        FROM TB_DOCUMENT
        ORDER BY CRT_DT DESC
    </select>

    <!-- 사용자 ID로 조회 -->
    <select id="getDocrByDocId" resultType="document.doc.dto.DocDto" parameterType="String">
        SELECT *
        FROM TB_DOCUMENT
        WHERE DOC_ID = #{docId}
    </select>

    <delete id="deleteDoc" parameterType="string">
        DELETE FROM TB_DOCUMENT
        WHERE DOC_ID = #{docId}
    </delete>



</mapper>
