<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="document.menu.mapper.MenuAuthMapper">

    <select id="getMenuMgmtList" resultType="document.menu.dto.MenuAuthDto">
        SELECT
            PERMIT_ID ,
            PERMIT_NAME ,
            PERMIT_DESC ,
            CRT_ID ,
            CRT_DT ,
            UPT_ID ,
            UPT_DT
        FROM TB_PERMIT
        ORDER BY PERMIT_ID
    </select>

    <select id="getMenuMgmtByPermitId" resultType="document.menu.dto.MenuAuthDto" parameterType="String">
        SELECT
            PERMIT_ID ,
            PERMIT_NAME ,
            PERMIT_DESC ,
            CRT_ID ,
            CRT_DT ,
            UPT_ID ,
            UPT_DT
        FROM TB_PERMIT
        WHERE PERMIT_ID = #{permitId}
    </select>

    <insert id="insertMenuAuthInfo" parameterType="document.menu.dto.MenuAuthDto">
        INSERT INTO TB_PERMIT (
            PERMIT_ID ,
            PERMIT_NAME ,
            PERMIT_DESC ,
            CRT_ID ,
            CRT_DT ,
            UPT_ID ,
            UPT_DT
        )
        VALUES (
                   #{permitId},
                   #{permitName},
                   #{permitDesc},
                   #{crtId},
                   NOW(),
                   #{uptId},
                   NOW()
               )
    </insert>

    <update id="updateMenuAuthInfo" parameterType="document.menu.dto.MenuAuthDto">
        UPDATE TB_PERMIT
        SET
            PERMIT_NAME = #{permitName},
            PERMIT_DESC = #{permitDesc},
            UPT_ID = #{uptId},
            UPT_DT = NOW()
        WHERE
            PERMIT_ID = #{permitId}
    </update>


    <delete id="deleteMenuAuthInfo" parameterType="document.menu.dto.MenuAuthDto">
        DELETE FROM TB_PERMIT
        WHERE PERMIT_ID = #{permitId}
    </delete>

    <delete id="deletePermitDetail" parameterType="document.menu.dto.MenuAuthDto">
        DELETE FROM TB_PERMITDETAIL
        WHERE PERMIT_ID = #{permitId}
          AND MENU_ID = #{menuId}
    </delete>



    <select id="getMenuInsertListByPermitId" resultType="document.menu.dto.MenuAuthDto">
        SELECT
            P.PERMIT_ID ,
            P.PERMIT_NAME ,
            M.MENU_ID ,
            M.MENU_NAME ,
            M.MENU_GROUP ,
            PD.CRT_ID ,
            PD.CRT_DT ,
            PD.UPT_ID ,
            PD.UPT_DT
        FROM
            TB_PERMIT P,
            TB_MENU M,
            TB_PERMITDETAIL PD
        WHERE
            P.PERMIT_ID = PD.PERMIT_ID
          AND PD.MENU_ID = M.MENU_ID
          AND P.PERMIT_ID = #{permitId}
        ORDER BY P.PERMIT_ID, M.MENU_ID DESC
    </select>


    <insert id="insertTbPermitDetail" parameterType="document.menu.dto.UseMenuDto">
        INSERT INTO TB_PERMITDETAIL (
            PERMIT_ID ,
            MENU_ID ,
            CRT_ID ,
            CRT_DT ,
            UPT_ID ,
            UPT_DT
        )
        VALUES (
                   #{permitId},
                   #{menuId},
                   #{crtId},
                   NOW(),
                   #{uptId},
                   NOW()
               )
    </insert>

</mapper>
